
<h1>Hej!</h1>

<h2 data-bind="text: currentUri"></h2>

<ul data-bind="foreach: links">
    <li><a href="#" data-bind="text: Rel, attr: { 'href' : Uri }"></a></li>
</ul>

<ul data-bind="foreach: commands">
    <li><a href="#" data-bind="text: Name, click: $parent.selectedCommand "></a></li>
</ul>

<form data-bind="with: selectedCommand">
    <fieldset>
        <legend data-bind="text: $parent.Name"></legend>
        <div data-bind="foreach: Fields">
            <label data-bind="text: Description"></label>
            <input type="text"/>
        </div>
    </fieldset>
</form>

@section Scripts
{
    <script type="text/javascript">
        
        function Model(uri) {

            var self = this;

            self.currentUri = ko.observable(uri);
            self.currentUri.subscribe(function (val) {
                self.refresh();
            });
            
            self.links = ko.observableArray([]);

            self.commands = ko.observableArray([]);
            
            self.selectedCommand = ko.observable();
            
            self.refresh = function () {
                $.getJSON(self.currentUri(), null, function (data, status, jqXhr) {
                    if (status == 'success') {
                        self.links(data.Links);
                        self.commands(data.Commands);
                    }
                });
            };
        }

        $(function () {
            var mainViewModel = new Model('/api');
            mainViewModel.refresh();
            ko.applyBindings(mainViewModel);
        });
    </script>
}
